*{
	margin:0;
	padding: 0;
}

.menu {
    position: absolute;
    z-index: 5;
    top: 5%;
    left: 20%;
    width: 1200px;
    height: 60px;
    background-color: white;
    transition: 0.5s;
}

.nut {
    position: absolute;
    z-index: 4;
    top: 60%;
    left: 25%;
    background-color: #00800070;
    color: white;
    font-weight: 800;
    padding: 20px;
    border-radius: 30px;
	transition: 0.5s;
	opacity: 0;
	animation: ok 1.5s forwards;
	animation-delay: 2s;
}
@-webkit-keyframes ok {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.chuto, .chunho {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 20%;
    font-size: 50px;
    color: #0ea9dc;
    font-weight: 800;
	transition: 0.5s;
	opacity: 0;
	animation: divao 1s forwards;
	animation-delay: 1s;
}
@-webkit-keyframes divao {
	0%{
		transform: translateX(-600px); opacity: 0;
	}
	100%{
		transform: translateX(0px); opacity: 1;
	}
}


.chunho {
    font-size: 23px;
    top: 45%;
    left: 20%;
    color: #000000a1;
    width: 500px;
    /* text-align: center; */
	transition: 0.5s;
	animation-delay: 1.3s; 
}

img.cogai {
    position: absolute;
    bottom: -800px;
    right: 25%;
    z-index: 2;
	transition: 0.5s;
	animation: cogaidilen 1s forwards;
	animation-delay: 0.5s;
}
@-webkit-keyframes cogaidilen{
	0%{
		bottom: -800px;
	}
	100%{
		bottom: 0px;
	}
}

.anhnen {
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	background: url(/images/slide-doctor-bg.jpg);
	transition: 0.5s;
	background-size: cover;
	opacity: 0;
	animation: hienra 1.5s forwards;
}
@-webkit-keyframes hienra {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

header.phantren {
    height: 800px;
	position: relative;
	overflow: hidden;
}

